@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap');
/* =============
   Global styles
   ============= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Space Mono', monospace;    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
}

#root { 
    position: relative;
    display: flex;
    flex-direction: column;   
    /* background: rgba(0, 0, 0, 0.5);    */
}

/* .main-active {
    display: flex;
    flex-direction: column;
}
.main-background {
    background: rgba(0, 0, 0, 0.5);
} */

/* Carousel arrows in the Instagram section */
.rec.rec-arrow,
.rec.rec-arrow:disabled {
    /* visibility: hidden; */
    display: none;
}

.rec.rec-carousel,
.rec.rec-slider-container {
    margin: 0;
}


.rec.rec-dot_active {
    background-color: #000;
    box-shadow: 0 0 1px 3px lightgray;
}
@media(min-width: 1278px){
    .rec.rec-dot_active {
        display: none;
    }    
}

